@import '../../styles/variables';


* {
    box-sizing: border-box;
}

.landing-page {
    @include flex-column;
    height: 470vh;
    background-color: black;
    color: white;
    font-family: $font-family;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;

    #randombtn {
        background-color: $secondary-color;
        width: 15vw;
        height: 10vh;
        outline: none;
        border: none;
        border-radius: 15px;
        font-size: 30px;
        font-weight: 650;
        box-shadow: 0 7px #787776;
        cursor: pointer;

    }

    #randombtn:hover {
        background-color: #8dc5e6;
    }

    #randombtn:active {
        box-shadow: 0 5px #4d4c4a;
        transform: translateY(4px)
    }

    .random-movie {
        @include flex-column;

        img {
            max-height: 40vh;
            width: 10vw;
        }

    }


    .movie-display {
        @include flex-column;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        
        h2 {
            font-weight: 800;
            font-size: 30px;
            margin: 1.5%;
        }


        .display-sections {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            width: 97vw;
            background-color: black;
            color: white;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;

            .left-paddle {
                display: flex;
                position: absolute;
                left: 0;
                z-index: 1;
                width: 3em;
            }

            .right-paddle {
                display: flex;
                position: absolute;
                right: 0;
                z-index: 1;
                width: 3em;
            }

            .hidden {
                display: none;
            }


            h2 {
                border-bottom-style: solid;
            }

            .mapped-movie {
                display: flex;
                flex: 0 0 auto;
                position: relative;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 80vh;
                margin: 1%;
                background-color: $tertiary-color;
                border-radius: 3%;
                font-weight: 700;
                

                .mapmovie-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                    height: 150px;
                    width: 100%;

                    .star {
                        width: 25px;
                        height: 25px;
                    }

                    .rating {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    

                }
                

                img {
                    max-height: 60vh;
                }

                img:hover {
                    opacity: 50%;
                    cursor: pointer;
                }

                button {
                    background-color: $secondary-color;
                    color: white;
                    font-weight: 600;
                    border: none;
                    font-size: 20px;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    height: 30%;
                    width: 88%;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #8dc5e6;
                }
            
                button:active {
                    transform: translateY(4px)
                }
            }
        }
    }
}