@import '../../styles/variables';

* {
    box-sizing: border-box;
}

.landing-page {
    @include flex-column;
    height: 200vh;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;

    button {
        width: 15vw;
        height: 10vh;
        border-radius: 12px;

    }

    .random-movie {
        @include flex-column;

        img {
            max-height: 40vh;
            width: 10vw;
        }
    }


    .movie-display {
        @include flex-column;
        
        h2 {
            font-weight: 800;
            font-size: 30px;
            margin: 1.5%;
        }


        .display-sections {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 45vh;
            width: 97vw;
            background-color: black;
            color: white;
            border-style: solid;
            overflow: auto;
            white-space: nowrap;

            h2 {
                border-bottom-style: solid;
            }

            .mapped-movie {
                display: flex;
                position: relative;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 80vh;
                margin: 1%;
                background-color: grey;

                .mapmovie-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                    word-break: break-all;
                    height: 100px;
                }
                

                img {
                    max-height: 40vh;
                    width: 10vw;
                }

                button {
                    display: flex;
                    position: relative;
                    height: 30%;
                    width: 5vw;
                }
            }
        }
    }
}