@import '../../styles/variables';

.page {
    height: 100vh;
    background-color: $background-color;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    align-items: center;

    .watchlist-display-card {
        @include align-center;
        justify-content: space-between;
        background-color: #f2f2f2;
        width: 60vw;
        border: 1px solid lightgray;
        box-sizing: border-box;

        .poster-image {
            height: 150px;
            width: 100px;
            cursor: pointer;
        }
    }
    .watchlist-poster-title {
        @include align-center;

        .title-overview {
            width: 80%;
            box-sizing: border-box;
            margin-left: 10px;
            font-family: $font-family;
        }

        .title {
            font-size: 20px;
            cursor: pointer;
            text-decoration: underline;
            margin-bottom: 5px;

        }

        .release-date {
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
    .rating-add {
        @include align-center;
        font-family: $font-family;

        .trash-icon {
            width: 20px;
            height: 30px;
            margin: 10px;
            cursor: pointer;
        }
        .star {
            width: 20px;
            height: 20px;
        }
    }
}