$background-color: black;
$secondary-color: #463c57;
$font-family: 'Roboto', sans-serif;
$button-color: #69c8ff;

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}