


// @import '../../styles/variables';
/* //////////////////////////////////////////////// AUTH COMPONENT ///////////////////////////////////////////////////  */

.auth-background{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}


.slide-1,.slide-2,.slide-3,.slide-4,.slide-5,.slide-6,.slide-7,.slide-8,.slide-9,.slide-10 {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-1 {
  animation: fade1 100s infinite;
  animation: move1 10s linear;
}
.slide-2 {
  animation: fade2 100s infinite;
}
.slide-3 {
  animation: fade3 100s infinite;
}
.slide-4 {
  animation: fade4 100s infinite;
}
.slide-5 {
  animation: fade5 100s infinite;
}
.slide-6 {
  animation: fade6 100s infinite;
}
.slide-7 {
  animation: fade7 100s infinite;
}
.slide-8 {
  animation: fade8 100s infinite;
}
.slide-9 {
  animation: fade9 100s infinite;
}
.slide-10 {
  animation: fade10 100s infinite;
}
@keyframes fade1 {
  0%{opacity: 1;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fade2 {
  0%{opacity: 0;}
  10%{opacity: 1;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
  
}
@keyframes fade3 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 1;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
  
}
@keyframes fade4 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 1;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
  
}
@keyframes fade5 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 1;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes fade6 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 1;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes fade7 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 1;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes fade8 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 1;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes fade9 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 1;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes fade10 {
  0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}

.auth-container{
  height: 400px;
  width: 250px;
  // background-color: rgb(236, 231, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:2%;
  box-shadow: 0px 0px 5px 0px;
  background-color: black;
  border: 1px solid #69c8ff;
  top: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%;
}

#a-header{
  color: white;
  font-size: 20px;
  margin-bottom: -10px;
}

#a-header-2{
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#a-username{
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 175px;
}

#a-password{
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 175px;
}

#a-selector{
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 150px;
}

#a-button{
  margin-top: 15px;
  height: 30px;
  border-style: none;
  border-radius: 5%;
  background-color: #69c8ff;
}

#a-button:hover{
  cursor: pointer;
  background-color: #8fd6ff;
}

#a-p{
  margin-top: 10px;
  color: white;
}

#a-back{
  margin-top: 10px;
  color: white;
}

#a-back:hover{
  color: #69c8ff;
  cursor: pointer;
}

#a-span{
  color: white;
}

#a-span:hover{
  color: #69c8ff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}
