


// @import '../../styles/variables';
/* //////////////////////////////////////////////// AUTH COMPONENT ///////////////////////////////////////////////////  */

.auth-background{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69c8ff;
}

.auth-container{
  height: 400px;
  width: 250px;
  // background-color: rgb(236, 231, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:2%;
  box-shadow: 0px 0px 5px 0px;
  background-color: black;
}

#a-header{
  color: white;
  font-size: 20px;
  margin-bottom: -10px;
}

#a-header-2{
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#a-username{
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 175px;
}

#a-password{
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 175px;
}

#a-selector{
  margin-bottom: 10px;
  border-radius: 3%;
  border-style: none;
  height: 25px;
  width: 150px;
}

#a-button{
  margin-top: 15px;
  height: 30px;
  border-style: none;
  border-radius: 5%;
  background-color: #69c8ff;
}

#a-button:hover{
  cursor: pointer;
  background-color: #8fd6ff;
}

#a-p{
  margin-top: 10px;
  color: white;
}

#a-back{
  margin-top: 10px;
  color: white;
}

#a-back:hover{
  color: orange;
  cursor: pointer;
}

#a-span{
  color: white;
}

#a-span:hover{
  color: #69c8ff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}
